html {
    font-size: 100%;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local(''),
        url('../fonts/roboto-v30-latin-100.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-100.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/roboto-v30-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/roboto-v30-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*? Page_Up */

.pageup{
    display: inline;
    position: fixed;
    top: 93.5vh;
    z-index: 999;
    width: 5vw;
    right: 0;
}
.pageup2{
    display: none;
    position: fixed;
    top: 93.5vh;
    z-index: 999;
    width: 5vw;
    right: 0;
}
/* .pageup-container{
    display: inline;
    position: absolute;
    height: 200vh;
    top: 200vh;
    z-index: 99;
    right: 0;
} */

/* .pageup {
    display: inline;
    position: sticky;
    width: 5vw;
    top: 90vh;
    left: 0vw;
    z-index: 999;
}

.pageup-container{
    position: absolute;
    z-index: 40;
    right: 0;
    height: 236vw;
    width: 5vw;
    top: 700vw;
 } */

/*? Page_Up end*/


body,
* {
    font-family: 'Roboto';
    font-weight: 500;
}

header {

    background-image: url(../img/images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.head-top {
    background-color: rgba(255, 255, 255, 0.747);
    padding: 20px 0;

}

.head-block-logo {
    width: 100%;
}

.head-top-logo {
    text-transform: uppercase;
    text-decoration: none;
font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
    color: #252525;
}

.head-top-logo-cap {
    color: #6bc2f1;
}

.menu {
    display: flex;

}

.menu-item a:hover {
    text-shadow: 2px 2px rgba(44, 44, 44, 0.26);
    text-decoration: underline;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.menu-item a {
    text-decoration: none;
    color: #252525;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 20px;
}

.button>button {
    height: 46px;
    width: 140px;
    border-color: #6bc2f1;
    background-color: #6bc2f1;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

.head-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
}

.hb {
    color: white;
}

.hb-title {
    font-size: 70px;
    line-height: 85px;
    margin-top: 290px;
    margin-bottom: 22px;
}

.hb-title-caps {
    font-weight: bold;
}

.hb-sub-title {
    margin-bottom: 55px;
    font-size: 26px;
}

.hb-sub-text {
    font-size: 18px;
    max-width: 470px;
    line-height: 28px;
}

.hb-button {
    border-color: white;
    width: 200px;
    height: 47px;
    color: black;
    background: #ffffff;
    font-size: 12px;
    margin-top: 65px;
    margin-bottom: 145px;
}

/* 2 section */
.part2 {
    padding: 120px 0;
}

.part2 .container {
    display: flex;
    justify-content: space-between;

}

.pt2-text {
    margin-top: 130px;
    margin-bottom: 144px;
}

.pt2-toptext {
    font-size: 19px;
    color: #6bc2f1;
    margin-bottom: 25px;

}

.pt2-middletext {
    font-size: 36px;
    margin-bottom: 35px;
}

.pt2-bottomtext {
    color: #5f5f5f;
    font-size: 18px;
    max-width: 535px;
    margin-bottom: 70px;
    line-height: 27px;
}

.pt2-button {
    width: 200px;
    height: 46px;
    background-color: #6bc2f1;
    color: white;
    border-color: #6bc2f1;
}

/*! General button animation */
.click:hover {
    background-color: transparent;
    color: black;
}

.click2:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.click3:hover {
    background-color: #61b2de;
    color: black;
    font-size: 18px;
}

/* 3 section */

.part3 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.pt3-li {
    width: 50%;
}

.brick {
    width: 945px;
    height: 505px;
}

.pt3-li-brick1 {
    background-image: url(../img/images/doc3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.pt3-li-brick2 {
    background-color: #61b2de;
    text-align: center;
    color: white;
    width: 100%;
}

.pt3-li-brick3 {
    background-image: url(../img/images/doc4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.pt3-hid {
    display: none;
}

.brick2-toptext {
    font-size: 19px;
    margin-bottom: 28px;
}

.brick2-middletext {
    font-size: 36px;
    margin-bottom: 35px;

}

.brick2-bottomtext {

    font-size: 18px;
    line-height: 28px;
    width: 595px;
    margin: 0 auto;
}

.mod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* 4 section */
.part4 {
    padding: 120px 0;
}

.pt4-brick {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.heart {

    animation-iteration-count: 1;
        animation: sizeChange 1.5s linear ;
        animation-play-state: paused;
        transform: scale(1);
}

.heart:hover {
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes sizeChange {
    0% {
        scale: 1;
    }
    15% {
        scale: 1.7;
    }
    25% {
        scale: 0.9;
    }
    45% {
        scale: 1.5;
    }
    50% {
        scale: 1;
    }

    63% {
        scale: 1.7;
    }

    75% {
        scale: 1;
    }

    87% {
        scale: 1.4;
    }

    100% {
        scale: 1;
    }
}

.pt4-title {
    margin: 38px 0;
    font-size: 18px;
}

.pt4-text {
    width: 333px;
    color: #606060;
    font-size: 16px;
    line-height: 29px;
}

.container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mgt {
    margin-top: 70px;
}

/* 5 section */
.pt5 {
    background-color: #f1f1f1;
    padding: 60px 0;
}

.pt5-bricks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pt5-margin {
    margin: 0 30px 30px 30px;
}

.pt5-margin2 {
    margin: 0 30px 0px 30px;
}

/* 6 section */
.quotes {
    margin-bottom: 38px;
}

.pt6-ttext {
    line-height: 34px;
    width: 780px;
}

.pt6-mtext {
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 10px;
}

.pt6-btext {
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 40px;
}

.pt6 {
    display: flex;
    align-items: center;
    text-align: center;
    background: #6bc2f1;
    padding: 90px 0;
    color: #fff;
}

.pt6-margin {
    margin-right: 15px;
}

.pt6-margin2 {
    margin-right: 30px;
}

.pt6-margin3 {
    margin-left: 15px;
}

/* 7 section */
.pt7 {
    padding: 115px 0 100px 0;
    text-align: center;
    align-items: center;
}

.pt7-text {
    font-size: 36px;
    margin-bottom: 55px;
}

.field1 {
    width: 445px;
    height: 45px;
    margin-bottom: 24px;
    border-color: #00000044;
    padding: 10px;
}

.field2 {
    margin-bottom: 22px;
    height: 200px;
    width: 445px;
    resize: none;
    border: 2px solid #00000044;
    padding: 10px;
}

.pt7-sumb {
    width: 120px;
    height: 38px;
    background: inherit;
    color: #61b2de;
    border-color: #61b2de;
}

/* 8 section */
.pt8 {
    background-color: #072135;
    display: flex;
    justify-content: space-between;
    padding-top: 125px;
    padding-bottom: 115px;
}

.pt8 .container {
    display: flex;
}
/* smenu start */
.pt8-smenu{
    height: 8vh;
    width: 100%;
    display: none;
    align-items: center;
}
.pt8-smenu-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.pt8-smenu-btn{
    width: 42vw;
    height: 6vh;
    z-index: 10;
    margin: 0;
    padding: 0;
    border-radius: 30px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #fff;
}
.pt8-smenu-btn:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  .pt8-smenu-btn:hover {
    color: #000;
  }
  .pt8-smenu-btn:hover:after {
    background: white;
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 20px;
  }
  /* smenu end */
.pt8-include {
    display: none;
}

.pt8-brick2-tt,
.pt8-brick3-tt,
.pt8-brick1-tt {
    font-size: 18px;
    color: white;
}

.pt8-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.61);
    line-height: 30px;
}

.pt8-brick1-bt1 {
    margin: 40px 0 30px 0;
}

.pt8-brick1-bt2 {
    width: 470px;
}

.pt8-brick2-bt1 {
    margin-top: 35px;
    margin-bottom: 30px;
}

.pt8-brick3-bt1 {
    margin-top: 35px;
    margin-bottom: 30px;
}

.pt8-brick2 {
    margin-left: 130px;
    margin-right: 150px;
}

@import url(rwd.css);